.faq {
  h2 {
    font-family: verdana, arial, helvetica, Sans-Serif;
    color: inherit;
    background-color: #ddeeff;
    padding: 0.3em;
    border: 0px;
    margin: 0px 0px 0.5em 0px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  p {
    margin-left: 0.5em;
  }
}
