body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th .order-4:before {
  margin-left: 3.5px;
  content: "\2191";
  opacity: 0.4;
}

th .order-4:after {
  content: "\2193";
  opacity: 0.4;
}

th .caret-4-asc:before {
  margin-left: 3.5px;
  content: "\2191";
}

th .caret-4-asc:after {
  content: "\2193";
  opacity: 0.4;
}

th .caret-4-desc:before {
  margin-left: 3.5px;
  content: "\2191";
  opacity: 0.4;
}

th .caret-4-desc:after {
  content: "\2193";
}

.player {
  display: flex;
}

.lp-parent {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
}

.lp-header {
  font-size: 24px;
  margin-bottom: 5px;
}

.lp {
  font-size: 30px;
  text-align: right;
}

h2 {
  font-family: verdana, arial, helvetica, Sans-Serif;
  color: inherit;
  background-color: #ddeeff;
  padding: 0.3em;
  border: 0px;
  margin: 0px 0px 0.5em 0px;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  margin-left: 0.5em;
}
