.toolbar {
  margin-right: 15px;
}

.player {
  display: flex;
}

.lp-parent {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
}

.lp-header {
  font-size: 24px;
  margin-bottom: 5px;
}

.lp {
  font-size: 30px;
  text-align: right;
}
